<!doctype html>
<html lang="${config['defaultlang']}">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="${current.description!}">
  	<meta name="keywords" content="${current.keywords!}">
    <meta name="author" content="marker">
	<title><@message "website.title" /></title>
	<link href="lib/bootstrap3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="lib/bootstrap3/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
  	
</head>

<body>
	<h1>${current.name!}</h1>
	<p>this is a sample html tempate!</p>
	<p>keywords: ${current.keywords!}</p>
	<p>desc: ${current.description!}</p>
</body>
</html>
