<configuration scan="true" scanPeriod="30 seconds">
	<property name="PROJECT_HOME" value="./" />
	<property name="MAX_FILE_SIZE" value="300mb" />
	<property name="MAX_HISTORY" value="5" />
	<property name="MYBATIS_MAX_HISTORY" value="${MAX_HISTORY}" />

	<property name="DEBUG_MAX_HISTORY" value="${MAX_HISTORY}" />
	<property name="INFO_MAX_HISTORY" value="${MAX_HISTORY}" />
	<property name="ERROR_MAX_HISTORY" value="${MAX_HISTORY}" />

	<property name="PATTERN" value="[%d]-%c-%-5p [%thread] | %msg%n"/>
	<property name="logNamePrefix" value="mrcms"/>
   
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>DEBUG</level>
    	</filter>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>DEBUG</level>
    	</filter>
		<file>${PROJECT_HOME}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${PROJECT_HOME}/%d{yyyy-MM-dd}/${logNamePrefix}-debug.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${DEBUG_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="INFO-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>INFO</level>
    	</filter>
		<file>${PROJECT_HOME}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${PROJECT_HOME}/%d{yyyy-MM-dd}/${logNamePrefix}-info.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${INFO_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>
	
	<appender name="ERROR-ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>ERROR</level>
    	</filter>
		<file>${PROJECT_HOME}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${PROJECT_HOME}/%d{yyyy-MM-dd}/${logNamePrefix}-error.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${ERROR_MAX_HISTORY}</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>




	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR-ROLLING"/>
		<appender-ref ref="INFO-ROLLING"/>
		<appender-ref ref="DEBUG-ROLLING"/>
	</root>

	  
	<!-- c3p0 -->
	<logger name="org.springframework" level="INFO"/>
	<logger name="com.ibatis" level="INFO" />
	<logger name="org.apache.ibatis" level="INFO"/>
	<logger name="org.mybatis" level="INFO"/>
	<logger name="java.sql.Statement" level="INFO"/>
	<logger name="java.sql.PreparedStatement" level="INFO"/>

	<logger name="org.springframework.web" level="INFO"></logger>
	<logger name="org.springframework.data.redis" level="INFO"></logger>
	<logger name="org.springframework.beans.factory.support" level="INFO"></logger>



</configuration>