.main{
    width: 410px;
    margin: 0 auto;
    margin-top: 150px;
}
.main img{
    display: inline-block;
    vertical-align: top;

}
.description{
    width: 396px;
    margin: 0 auto;
    margin-top: 18px;
}
.btn{
    display: block;
    width: 257px;
    margin: 0 auto;
    margin-top: 30px;
}