@charset "utf-8";
/* 通用样式 */
body {
    margin: 0;
    padding: 0;

    font-family: arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

/* 绝对定位 */
.pa {
    position: absolute;
}

/* 相对定位 */
.pr {
    position: relative;
}

/* 左浮动 */
.fl {
    float: left;
}

/* 右浮动 */
.fr {
    float: right;
}

/* 隐藏 */
.hide {
    display: none;
}

/* 文字居中*/
.tac {
    text-align: center !important;
}

/* 自动居中 */
.center {
    margin: 0 auto;
}

/* 输入框字体、渐变背景、圆角效果定义 */
input, select, textarea {
    padding: 0px 5px;
    width: 290px;
    font-family: "微软雅黑";
    font-size: 12px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0 !important;
}

input:active {
    outline: none !important;
}

input, select {
    /*background: url("images/bar_bg.png") repeat-x;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));*/
    /*background: -moz-linear-gradient(top,  #fff,  #efefef); */
}

/* 个性化样式 */

select {
    width: 302px;
    height: 32px;
}

textarea {
    line-height: 21px;
    padding: 5px 5px;
    height: 120px;
}

label, input, button, select, textarea {
    font-size: 12px !important;
    font-weight: normal;
    line-height: 28px;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-bottom: 10px;
}

table thead tr {
}

/* 表格头样式 */
table thead tr th {
    height: 30px;
    border: 1px solid #e5e5e5;
    color: #000;
    font-weight: bold;
    background: url("images/table_head_bg.png") repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
    background: -moz-linear-gradient(top, #fff, #efefef);
}

/* 按钮样式 */
button {
    font-family: "微软雅黑";
    line-height: 30px;
    outline: none;
    padding: 0 15px;
    border-color: #adadad;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px RGB(225, 233, 220) solid;
    text-shadow: 1px 1px #6b6b6b;
}

button:hover {
    border-color: RGB(167, 220, 224);
}

form .n-invalid {
    border: 1px solid #f00;
}

.form-horizontal .control-group {
    padding: 5px;
    margin-bottom: 0;
}

.form-horizontal .control-group:nth-child(even) {
    background: #F6F6F6;
}

.form-horizontal .control-label {
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 0px;
}

.form-horizontal .controls label {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    padding-left: 4px;
}

.form-horizontal .controls input, .form-horizontal .controls textarea {
    vertical-align: top;
    margin-top: 2px;
}

.form-horizontal .controls input[type="radio"] {
    vertical-align: top;
    margin-top: 12px;
}

.form-horizontal .controls input[type="checkbox"] {
    vertical-align: top;
    margin-top: 12px;
}

.form-horizontal .controls .help-block {
    display: inline-block;
    color: #777777;
    margin-left: 10px;
    margin-top: 7px;
    width: 56%;
}

.btn.active.focus, input, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 !important;
}

.image-upload {
    width: 280px;
    min-height: 120px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background: url(../../public/ueditor/dialogs/image/images/image.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}