@charset "utf-8";

#logo {
	color: #FFF;
	width: 180px;
	height: 55px;
	font-size: 38px; 
	height: 55px;
	text-align: center;
}

/* 加载时的遮挡 */
.loading_panel {
	background: #000;
	position: absolute;
	z-index: 10000;
	right: 0;
	left: 0px;
	top: 0px;
	bottom: 0;
	filter: alpha(opacity = 50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	display: none;
}

 



/* 输入框样式 */
.input_for_add { }

.select_for_add { }

.textarea_for_add { }

.input_for_seo{ width:550px !important;}/* SEO输入框 */





/* 隔行渲染颜色 */
.rowBgColor{background:#F6F6F6;}

.table_list thead tr th { /*标题*/
	text-align: left;
}

.table_list tbody tr th { /*项目列表*/
	text-align: center;
	background: #F0F0F0; /*f7f7f7*/
	color: #000;
}

.table_list th,table td { /*单元格 */
	border: 0px solid #ccc;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
}

/* 添加信息table样式 */
.table_add {
	border: 0px !important;
}

.table_add thead tr th {
	text-align: center;
}

.table_add tbody tr {
	height: 35px;
}

.table_add tbody tr th {
	text-align: right;
}

/* 添加信息table样式 */
.table_add2 {
	border: 0px !important;
}

.table_add2 tbody tr {
	height: 50px;
}

.table_add2 tbody tr th {
	text-align: left;
}

.table_add2 th,table td { /*单元格 */
	border: 0px solid #ccc;
	height: 25px;
	line-height: 25px;
	padding: 0 5px;
}

.label_for_userstatus {
	cursor: pointer;
	color: blue;
}

/* 信息table样式 */
.table_info {
	
}

.table_info thead tr th {
	text-align: center;
}

.table_info tbody tr {
	height: 25px;
}

.table_info tbody tr th {
	text-align: right;
}

/* div表格样式 */
.yl_bigbox {
	border: 1px solid #ccc;
}

.yl_address_bar {
	height: 30px;
	background: #FFC;
	line-height: 25px;
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}

#yl_file_path {
	height: 20px !important;
}

.yl_bigbox_content {
	margin: 5px;
}

.yl_title_bar {
	padding-left: 10px;
	height: 25px;
	line-height: 25px;
	text-align: left;
	color: white;
	background: url(nav_bg.png) repeat-x;
}

/* 列表 */
.table_for_list thead tr th { /*项目列表*/
	
} 
.table_for_list tbody tr th {
	
} 
.table_for_list tbody tr {
	height: 28px;
	border: 1px solid #e5e5e5;
}

.table_for_list tbody tr td { /*单元格 */
	border: 0px solid #ccc;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
}
.table_for_list i{ font-size: 16px;}
/* 表格数据焦点效果 */
.table_for_list tbody tr:hover {
	background: #f1f1f1;
}

/* 添加 */
.table_for_add {
	border: 0 !important;
}

.table_for_add tbody tr {
	
}

.table_for_add tbody tr th {
	text-align: left;
	width: 140px !important;
}

.table_for_add th,table td { /*单元格 */
	border: 0px solid #ccc;
	padding: 7px 5px;
	text-align: left;
}

/* 全屏登录面板 */
#bigPanel {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#loginContent {
	width: 450px;
	top: 50%;
	left: 50%;
	margin-top: -53px;
	margin-left: -225px;
}

.table_for_login {
	width: 320px;
}

.table_for_login tr th {
	font-size: 20px;
	padding: 10px 0;
	font-weight: bold;
	text-shadow: 1px 1px #797979;
}

.table_for_login tr td {
	padding: 10px 0;
}

.input_for_login {
	height: 30px;
	line-height: 30px;
	width: 230px;
	font-size: 14px;
	padding: 0 10px;
}

.button_for_login {
	width: 120px !important;
	height: 86px;
	font-weight: bold;
	font-size: 20px !important;
	margin-top: 10px;
}

.login_for_message {
	height: 250px;
	top: 50%;
	margin-top: -125px;
	left: 0;
	right: 0;
	display: none;
}

.login_for_message_tishi {
	height: 250px;
	top: 50%;
	margin-top: -125px;
	left: 0;
	right: 0;
	display: none;
	z-index: 100;
}

.login_for_messageContent {
	width: 400px;
	height: 210px;
	margin: 20px auto;
}

.login_for_code {
	margin: 0 auto;
	width: 100px;
}

.login_for_content {
	margin: 0 auto;
	width: 240px;
}

.login_for_content_tishi {
	margin: 0 auto;
	width: 240px;
}

.login_for_button {
	bottom: 10px;
	right: 10px;
}

/* dialog */
.dialog {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000000;
}

.dialogFullScreen {
	background: #000;
	position: absolute;
	z-index: 10000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

.dialogContent {
	position: absolute;
	height: 250px;
	top: 50%;
	margin-top: -125px;
	left: 0;
	right: 0;
	z-index: 101;
	z-index: 10000;
}

.dialogPanel {
	position: absolute;
	left: 50%;
	margin-left: -225px;
	top: 20px;
	bottom: 20px;
	width: 450px;
	z-index: 10000;
}

.dialogPanel h1 {
	text-shadow: 1px 1px #6b6b6b;
	margin: 0;
}

.dialogPanelContent {
	width: 430px;
	font-size: 20px;
	z-index: 10000;
	text-shadow: 1px 1px #6b6b6b;
}

.dialogButton {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 10000;
}

/* 消息dialog */
.showMessageDialogPanel {
	padding: 10px;
	height: 130px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* 确定 dialog */
.showConfirmDialogPanel {
	padding: 10px;
	height: 130px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* 输入 dialog */
.showInputDialogPanel {
	padding: 10px;
}

.showInputDialogInput {
	padding: 10px;
	width: 430px;
	position: absolute;
	bottom: 30px;
	ime-mode: disabled
}




/* 全屏div */
.loading_model,.frame_model{
	position: absolute;
	z-index: 10000;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px; 
}
.clear_zone{
	position: absolute;
	z-index: 10000;
	right: 0;
	left: 0px;
	top: 0px;
	bottom: 0;
	background: #000;
	filter: alpha(opacity = 50);
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}
.loading_info{
	position: absolute; bottom:30px; left:20px; height:30px; font-size: 20px; color:white;z-index: 10003;
}





/* iframe window */
.frame_window{
	position: absolute;
	left:50%;
	top:50%;
	z-index:10003;
	height: 400px;
	width:800px;
}
.frame_window .frame_bar{ 
	border-radius:5px 5px 0 0 ;
 	background: url("images/bar_bg.png") repeat-x;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
	background:-moz-linear-gradient(center top , rgb(255, 255, 255), rgb(239, 239, 239)) repeat scroll 0% 0% transparent;
	height:35px; line-height: 35px;
	border-bottom:1px solid #ccc;
	padding-left: 20px; 
	font-size: 13px;
	font-weight: bold;
}
.frame_window .frame_exit{
	float:right;
	margin-top:8px;
	margin-right:10px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	background: url("images/icons-all.gif") no-repeat 0 -59px;
}
.frame_window .frame_content{ 
	background: #fff;
	margin: 0;
	overflow: auto;
}
.frame_window .frame_margin{
	margin: 20px;
}

/* 主题选择器 */
.theme_item{
	display:inline-block;
	position:relative;
	cursor:pointer;
	height:150px;
	border:3px solid #fff;
}
.theme_item .infobg{
	position:absolute;
	width:150px;
	height:40px;
	background: black;
	bottom:0px; 
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
}
.theme_item .info{
	position:absolute;
	width:150px;
	height:40px; 
	text-align:center;
	line-height:40px;
	bottom:0px; 
	color:white;
}
.theme_item_border{
	border-color:rgb(54, 187, 236);
}


	.count{background: #FDF2EF;}
			.countnav{ margin:0px 90px; height: 60px;}
			.nav_item{
				display: inline-block;
				width:33.333333333%;
				margin: 12px 0px;
			}
			.nav_item .ititle{
				font-size: 12px;
				color: #999;
				line-height: 24px;
			}
			.nav_item .inumber{
				color:#333;
			}