*{ margin:0; padding:0;}
body{ font-size:13px; background:#FFF;}
a{color:#0c577f; text-decoration:none;}
button{border:none; cursor:pointer; background:#2e6eb6;font-size:15px; color:#FFF; height:25px; margin-left:10px;  width:122px; line-height:25px;border-radius: 10px;}

.center{ margin:0 auto;}
.cb{ clear:both; }
.fr{ float:right;}
.fl{ float:left;}
.ml20{ margin-left:20px;}
.blue_line{ background:#2e6eb6; height:5px; margin:0px;}
.h10{ height:10px;}
.max_width{width:980px;}
.pr{ position:relative;}
.h130{ height:130px;}
.h28{ height: 28px;}
.h3{ height:3px;}
.pt10{padding-top:10px;}

/* 留言板 */
.gbtn{height:25px; width:100px;}
.authcode{width:60px;float:left;}
.randcode{height:20px; float:left;}
.gcontent{width:250px; height:80px; margin: 0px; padding:3px;}

#header{ background: url(images/bg.png) repeat; }

/* Logo */
#ylcms{ height:96px; width:980px;}

/* 网站导航 */
#nav{ margin: 0 auto; height:30px; width:980px;}
#nav ul{ list-style-type:none;}
#nav ul li { float:left; font-family:"微软雅黑"; font-size:15px;width:114px;text-align:center;}
#nav ul li a{color:#0c577f; text-decoration:none; text-shadow: 1px  -1px 0 0 #eee;}
#nav ul li div{width:80px; height:30px; line-height:26px; margin:0 auto;}
#nav ul li div:hover{ color:#f5f5f5; background:url(images/index_bg.png) no-repeat;}
#nav ul li .active{ color:#f5f5f5; background:url(images/index_bg.png) no-repeat;}
#nav ul .line{ width:1px; height:30px; background:url(images/nav_line.png); line-height:24px; color: #999999;}

#search{  background:url(images/search.png); height:30px; width:167px; position:relative;}
#search input{ background:#f6f6f7; border:none; width:120px; height:16px; line-height:16px; position:absolute; left:30px; top:9px;}


/* 首页横幅 */
#banner{ background:url(images/banner_bg.png) repeat-x;}



/* 幻灯片 */
#picBox{width:980px; height:300px; margin: 0 auto; overflow:hidden; position:relative;}
#picBox ul#show_pic{ margin:0; padding:0; list-style:none; height:300px; width:5000px; position:absolute;}
#picBox ul#show_pic li{ float:left; margin:0; padding:0; height:300px;}
#picBox ul#show_pic li img{ display:block;}
#icon_num{ position:absolute; bottom:0px; right:10px;}
#icon_num li{ float:left;width:15px; height:15px; list-style:none; color:#39F; text-align:center;  cursor:pointer; padding:0; margin:0;margin-right:5px;}
#icon_num li:hover,#icon_num li.active{color:#fff;}



.minbox{ width:155px; height:150px; font-size:30px; text-align:center; color:#FFF; margin:6px; line-height:150px; background:#2e6eb6;border-radius: 5px;}



.box1{width:315px; float:left; margin:5px;}
.box1 .title{height:25px; border-bottom:1px #0c577f solid; background: RGB(86,149,203);line-height:25px; padding-left:10px;}
.box1 .title .icon{float:left;}
.box1 .title .text{float:left; margin-left:5px; color:#FFF;}
.box1 .title .more{float:right; margin-right:10px;}
.box1 .list{ margin:5px;}
.box1 .list ul{ list-style-type:none;}
.box1 .list ul li{ height:20px; line-height:20px;}
.box1 .list ul li a{ text-decoration:none;}

/* 主页 */
.box_690{width:690px;}
.box_280{width:280px;}

.box_200{width:200px;}
.box_760{width:760px;}
.box_340{width:340px;}
.box_170{width:170px;}
.box_210{width:210px;}
.box_760{width:760px;}



/* banner右边软件下载信息 */
.btn_download{background:#2e6eb6; font-size:18px; text-align:center; line-height:30px; color:#FFF; height:30px; width:200px; font-family:"微软雅黑"; border-radius:5px;}
.product_info{float:right; font-size:13px;  width:280px; height:300px; }
.info_inner{margin:10px;}
.product_show{height:135px;}
.download_weizhi{margin: 0 auto; width:200px; padding:8px;}
.download_info p{ padding:2px; }

/* 导航信息(面包屑导航) */
.nav_info{ margin-top:10px; height:30px; line-height:30px; margin-bottom:10px;  background:#E8E8E8; border-radius:5px;}
.nav_inner{ float: left;background: RGB(247,247,247);font-size:14px; border-right:1px #CCCCCC solid; padding: 0 20px;  border-radius:5px 0 0 5px; color:#333;}
.nav_content{ float:left; margin-left:10px;}
.nav_content ul li{ float:left; margin-left:20px; list-style-type:none;}


#footer{ width:980px; height:150px; clear:both;}
.footer_l_div{ width:650px;}
.footer_r_div{ width:250px; text-align:center;}

.footer_nav{ margin: 15px auto;  }
.footer_nav a{color:#0c577f; text-decoration:none;}
.footer_nav a:hover{ color:#666666;}
.copyright{margin: 15px auto; }
.icp{margin: 10px auto; }


/* box公共样式 */
.title{ height:24px; border-bottom:1px #CCCCCC solid; border-right:1px #CCCCCC solid; background: #E8E8E8; padding:5px; border-radius: 5px 5px 0px 0px; } 
.title_text{ background:#2e6eb6;font-size:15px; color:#FFF; height:25px; margin-left:10px; padding-left:20px; width:122px; line-height:25px;border-radius: 10px; }
.content{ padding:10px; border-left:1px #E8E8E8 solid; border-right:1px #CCCCCC solid; border-bottom:1px #CCCCCC solid; border-radius: 0px 0px 5px 5px; background:#FFF; }
.content_innner ul{ list-style-type:none;}
.content_innner ul li { height:20px; line-height:30px; }
.content_innner ul li:hover{ text-decoration:underline;}
.content_innner ul li span{ color:#999; height:20px;}
.extends_list li{ width:189px !important; height:32px !important; }
.extends_list li div{ padding-left: 50px;}
.extends_list li:hover{ background:url(images/oiterm_now_bg.gif) no-repeat !important;}

/**  */
.app_content{ font-size:14px; line-height:20px;}
/* 文章页面 */
.box_for_article{width:700px;}
.box_for_article .content .content_innner ul{ list-style-type:none;}
.box_for_article .content .content_innner ul li { height:20px; line-height:30px; }
.box_for_article .content .content_innner ul li:hover{ text-decoration:underline;}
.box_for_article .content .content_innner ul li span{ color:#999; height:20px;}

.article{}
.article_title{text-align: center; padding:15px;}
.article_info{margin:0 auto; width:350px; color: #999;}
.article_line{border-bottom:1px #999999 dashed; width:600px; padding:5px;}
.article_content{word-wrap:break-word; margin:10px; font-family:arial, helvetica, sans-serif; font-size:14px;}



/* 固定关于我们的产品特点模块 */
#nav_keleyi_com{ padding-top:10px; position:relative; top:0; }
.card_title{ height:35px; line-height:35px;}
.card_line{ background:#2e6eb6; height:2px; width:450px;}
.card_content{text-indent:2em; padding-top:10px; padding-bottom:10px; color: #666;}



/* 友情连接box */
#flinks{width:980px;margin:10px auto;}
#flinks .box_for_maxwidth{width:980px;}




/* 留言板 */
#exit{ background: url(images/exit.gif);float: right; height:25px; width:28px;cursor:pointer;}