<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
    
	<import resource="spring-jdbc.xml" />
    <!-- 组件 --> 
 	<context:component-scan base-package="org.marker.mushroom.core.component"/>
 	
    <!-- 核心类加载器 -->
    <context:component-scan base-package="org.marker.mushroom.core.loader"/>
   
 	
 	<context:component-scan base-package="org.marker.mushroom.service"/>
    
    <context:component-scan base-package="org.marker.mushroom.module"/>
 	<context:component-scan base-package="org.marker.mushroom.plugins"/>
 
 
 	<context:component-scan base-package="org.marker.mushroom.template"/>
 	<context:component-scan base-package="org.marker.mushroom.statistic"/>
 



    <!-- URL重写规则引擎配置配置组件 -->
    <bean id="URLRewriteConfig" class="org.marker.mushroom.core.config.impl.URLRewriteConfig">
        <constructor-arg ref="jdbcTemplate"></constructor-arg>
    </bean>







</beans>
