<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 
	<!-- Spring拦截器配置 -->
    <mvc:interceptors>
	    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	     
	    <mvc:interceptor>
	        <mvc:mapping path="/admin/**"/>
	        <mvc:exclude-mapping path="/admin/login.*"/>
	        <mvc:exclude-mapping path="/admin/loginSystem.*"/> 
	        <bean class="org.marker.mushroom.interceptor.LoginInterceptor" />
	    </mvc:interceptor>
	</mvc:interceptors> 
</beans>
